/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */

.header-rural {
    background-color: #78ab4e;
    color: #000000;
    padding: 1rem;
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.nav-menu {
    margin-top: 1rem;
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

/* Estilos para as seções */

.section-rural {
    padding: 2rem;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.section-content {
    line-height: 1.8;
}

.section-list {
    padding-left: 20px;
}

.section-item {
    margin-bottom: 0.5rem;
}

/* Estilos para o rodapé */

.footer-rural {
    text-align: center;
    padding: 1rem;
    background-color: #78ab4e;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-text {
    font-size: 0.9rem;
}

.cx-img-manga{
    text-align: center;
}
